table {
        width: 1em;
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    /*height: 30px;

    /*text-align: left;*/
}

tbody {
    height: 100%;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width:25%;
    float: left;
}

th {
    cursor: pointer;
}

#myInput{
  width: 30%;
}

body{
  padding: 20px;
}
